@import "/css/root.css";

/* .header-foot */
.header-foot {
    background-color: #009600;
    padding: 10px 0px;
}

.header-foot a {
    margin: 0 5px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans - Extrabold";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 16px;
    text-align: left;
    font-variant: small-caps;
}

.header-foot img {
    width: 12px;
    height: 12px;
}

.header-foot .phone_call {
    width: 10px;
    height: auto;
    margin-bottom: 2px;
}


/* Menu */

.menu {
    background-color: var(--white);
    padding: 25px 25px;
}

.logo {
    width: 267px;
    height: 57px;
}

.menu .menu_item a {
    color: var(--black);
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    font-variant: small-caps;
    margin: 0 15px;
    text-decoration: none;
}

/* header */
header {
    height: 70vh;
    padding: 40px 40px;
    background: url(../img/hd_bg.png) no-repeat center center / cover;
    color: var(--white);
    margin-top: 20px;
}

.header-content__title {
    color: var(--white);
    font-family: 'Open Sans Extrabold';
    font-size: 70px;
    font-variant: small-caps;
    letter-spacing: normal;

}


.header-content__link {
    width: 270px;
    height: 50px;
    border-radius: 25px;
    background-color: #009600;
    color: var(--white);
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-variant: small-caps;
    margin: 20px 20px;
    padding: 5px 20px;
    text-decoration: none;
}

.header-content__link:hover {
    text-decoration: none;
    color: white;
}

/* About */
.about {
    background-color: var(--green);
    padding: 10px 10px;
}

.about h2 {
    color: var(--white);
    font-family: 'Open Sans Extrabold';
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: center;
    font-variant: small-caps;
    margin: 15px 15px;

}

.about p {
    color: var(--white);
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    font-variant: small-caps;
    margin: 25px 15px;
}

/* why-us */
.why-us {
    padding: 30px 30px;
    background-color: #f9faff;
}

.why-us h2 {
    color: #009c41;
    font-family: 'Open Sans Extrabold';
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}

.why-us .why-us_tittle {
    color: var(--black);
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: center;
    font-variant: small-caps;
    margin: 15px 0;
}

.why-us .why-us_item {
    margin: 15px 25px;
    padding: 20px 20px;
}

.why-us .why-us_item img {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.why-us .why-us_item p {
    display: inline-block;
    color: var(--black);
    font-family: var(--OS-regular);
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-variant: small-caps;
    margin: 15px 0;
}

/* service */
.service h2 {
    color: #009c41;
    font-family: "Open Sans - Extrabold";
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    margin: 25px 10px;
}

.service {
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin: 25px 25px;
    border: none;
}

.service :hover {
    color: #009c41;
    border: none;
}

.service button:hover {
    border: none;
    text-decoration: none;
}

.service img {
    margin: 35px 10px;
}

.service  #rasxodi, #dostavka{
    display: none;
}

.service #gruzov img{
    margin-right: 125px;
}
.service #gruzov button{
width: 200px;
height: 40px;
border-radius: 25px;
background-color: #009c41;
color: white;
border: none;
outline: none;
cursor: pointer;
margin: 25px 0;
}

.service #gruzov ul{
    margin: 20px 0;
}
.service ul li{
    list-style-type: circle;
}

 .service .tab__link {
    outline: none;
    border: none;
    background-color: transparent;
    color: #000000;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 25px;
    cursor: pointer;
}

.tablink:hover {
    color: #009600;
    border: none;
}

.active__on {
    color: #009600 !important;
    border: none;
}

.active__off {
    color: #000;
    border: none;
}

.service .tabcontent {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 15px 15px;

}

.service img {
    width: 15%;
    margin-right: 25px;
    height: auto;
}

.service li {
    margin-left: 25px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    font-variant: small-caps;
}

/* calculator */
.calculator {
    background-color: #f9faff;
    padding: 15px 15px;
}

.calculator h2 {
    color: var(--green);
    font-family: 'Open Sans Extrabold';
    font-weight: 400;
    font-size: 35px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    margin: 25px 25px;
}

.calculator_item {
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
}

.calculator .calculator_item label {
    color: #000000;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-variant: small-caps;

}

.calculator_item input {
    width: 125px;
    height: 30px;
    border-radius: 23px;
    border: 3px solid #626262;
    margin: 10px 0px;
    outline: none;


}

.calculator img {
    width: 70%;
}

.calculator_item input::placeholder {
    color: #bcbcbc;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-variant: small-caps;
    padding-left: 8px;
}


.fourthrow p {
    color: #000000;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin: 0 10px;
    font-variant: small-caps;
}

.fourthrow label {
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-variant: small-caps;
}

.fourthrow .form-check {
    margin: 0 20px;
}

.fifthrow button {
    margin: 25px 10px;
    border-radius: 25px;
    background-color: #009600;
    border: none;
    color: white;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    font-variant: small-caps;
}



/* connect */
.connect {
    padding: 15px 15px;
    background-color: #009600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect h2 {
    color: #ffffff;
    font-family: "Open Sans - Extrabold";
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    margin: 25px 0px;
}

.connect input {
    border-radius: 32px;
    border: 5px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009600;
    color: #ffffff;
    width: 213px;
    height: 40px;
    outline: none;
}

.connect input::placeholder {
    color: white;
}

.connect button {
    border-radius: 32px;
    border: 6px solid #ffffff;
    background-color: #ffffff;
    color: #009c41;
    font-family: "Open Sans - Semibold";
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: right;
    font-variant: small-caps;
    margin: 0px 10px;
    outline: none;
}

/* map */
.map h2 {
    text-align: center;
    color: #009600;
    font-family: "Open Sans - Extrabold";
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    margin: 20px 0;
}

iframe {
 width: 100%;
 height: 100%;
}

footer {
    margin-top: -10px;
    background-color: #009c41;
}
.map__item {
    width: 100%;
}
.map__item iframe {
    width: 100%;
    height: 300px;
}
footer p {
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    font-variant: small-caps;
    margin: 10px 0;
}